<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/nav')%>
    <h1>Welcome to Express js Crash course</h1>
</body>
</html>