<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head')%>
    <title>
        <%= title%>
    </title>
</head>
<body>
    <%- include('../partials/nav.ejs')%>
    <h3>Product page !!</h3>
    <div id="app"></div>

    <%- include('../partials/scripts.ejs'); %>
</body>
</html>